<%- include('header') %> 
  <form method="GET" action="/cotacao">
    <input name="cotacao" placeholder="Cotação Dolar" type="text"><br>
    <input name="quantidade" placeholder='Quantidade de dolar' type="text"><br>
    <button>Converter!</button>
  </form>
<%- include('footer') %> 
